@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #ff4e00;
    background-image: linear-gradient(90deg, #ff4e00 0%, #ec9f05 74%);
    font-family: 'Josefin Sans', sans-serif;
}
.about-navbar {
    width: 70%;
    margin: 2rem auto;
    display: flex;
    justify-content: space-around;
    color: whitesmoke;
    font-size: 1.4rem;
}
.about-navbar a {
    color: inherit;
    text-decoration: none;

}
.about-paragraph {
    width: 80%;
    margin: 2rem auto;
    background: rgb(255, 248, 220, 0.7);
    padding: 2rem;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
                0 2px 2px rgba(0,0,0,0.12), 
                0 4px 4px rgba(0,0,0,0.12), 
                0 8px 8px rgba(0,0,0,0.12),
                0 16px 16px rgba(0,0,0,0.12);
    cursor: pointer;
}
.about-paragraph h2 {
    animation: movement-right 1s linear 1;
    color: black;
    border-bottom: 6px solid rgb(255, 187, 69);
    margin-bottom: 2rem;
}
.about-paragraph p {
    font-size: 1.2rem;
    font-weight: 400;
    animation: movement-left 1s ease-in-out  1;
}
.about-paragraph:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background: rgb(255, 248, 220, 0.8);
    transition: all 0.3s ease-in-out;
}
.about-representation {
    max-width: 80%;
    margin: 5rem auto;
    background: rgb(255, 248, 220, 0.8);
    padding:  3rem 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.about-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}
.about-icon h2 {
    color: black;
}
.about-representation h2 {
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
.about-representation span {
    font-size: 1.5rem;
    margin-top: 10px;
}
.about-representation:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
    background: rgb(255, 248, 220, 0.7);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
@keyframes movement-right {
    from {
        transform: translateX(-150%);
    }
    to {
        transform: translateX(0%);
    }
}
@keyframes movement-left {
    from {
        transform: translateX(150%);
    }
    to {
        transform: translateX(0%);
    }
}
@media(max-width: 768px) {
    body {
        font-size: 62.5%
    }
}